In [161]:
import pandas as pd

df = pd.read_csv('top_insta_influencers.csv').drop(0)

In [138]:
df['posts'].max()

17500

In [148]:
df.head()['followers'].sum()/df.tail()['followers'].sum()

np.float64(11.342805320435309)

In [155]:
df['posts'].idxmin()

139

In [156]:
df['posts'].argmin()

np.int64(138)

In [154]:
df.loc[df['posts'].idxmin()]

rank                        139
channel_info         badbunnypr
influence_score              83
posts                        10
followers              42100000
avg_likes               3700000
60_day_eng_rate           13.09
new_post_avg_like       5400000
total_likes            67500000
country                     NaN
Name: 139, dtype: object

In [ ]:
df[df['60_day_eng_rate'] == df[df['country'] == 'United States']['60_day_eng_rate'].min()]

,rank,channel_info,influence_score,posts,followers,avg_likes,60_day_eng_rate,new_post_avg_like,total_likes,country
56,56,emmawatson,87,340,67300000,1900000,0.01,0,639000000,United States
147,147,marinaruybarbosa,81,2100,40700000,586400,0.01,0,1200000000,Brazil

In [181]:
df['total_likes'].sum()

np.int64(731622500000)

In [184]:
df['60_day_eng_rate'].max() - df['60_day_eng_rate'].mean()

np.float64(24.507989949748744)

In [188]:
df[df['60_day_eng_rate'] > 1.5]

,rank,channel_info,influence_score,posts,followers,avg_likes,60_day_eng_rate,new_post_avg_like,total_likes,country
2,2,kyliejenner,91,6900,366200000,8300000,1.62,5900000,57400000000,United States
11,11,kendalljenner,90,660,254000000,5500000,2.04,5100000,3700000000,United States
23,23,zendaya,87,3500,150700000,5800000,3.17,4800000,20600000000,United States
33,33,billieeilish,73,690,105200000,8500000,5.02,5200000,5900000000,NaN
37,37,nasa,88,3600,81300000,1200000,1.53,1200000,4200000000,United States
...,...,...,...,...,...,...,...,...,...,...
180,180,sachintendulkar,76,1000,35300000,800400,2.03,664500,810000000,NaN
184,184,toni.kr8s,83,940,34700000,597200,1.68,533500,561300000,NaN
185,185,dannapaola,68,1900,34700000,1500000,3.49,1200000,2800000000,Mexico
192,192,danbilzerian,84,1400,33600000,2000000,3.58,1200000,2800000000,Canada
194,194,zidane,41,370,33500000,1100000,1.61,532700,391900000,France

In [ ]:
# df_usa
df_brz = df[df['country'] == 'Brazil']

In [193]:
df_usa['followers'].max()/df_brz['followers'].max()

2.0677583286278938

In [197]:
df_fol = df_usa[df_usa['followers'] > 100000000]
sum(df_fol['posts'] > 2000)

14